<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cancel</title>
   <link rel="stylesheet" href="{{url_for('static',filename='css/style7.css')}}">
</head>
<body>
   <header>

   </header>
    
   <div class="firsttxt">
  
     <h1>TaskMasterAI</h1> 
     <a id="home" href="{{ url_for('home') }}">Home</a>
     <a id="features" href="#">Features
     </a>

     <a id="login" href="{{url_for('login')}}">Login</a>
     <a id="create" href="{{url_for('signup')}}">Sign Up</a>
     <a id="button" href="{{url_for('learnmore')}}">Learn More</a>
     <div>
       <a class="btn" href="{{url_for('getstarted')}}">Get Started  </a>
     </div>
   </div>

    <p> Welcome to TaskMasterAI</p>
    <p1>Unlock your productivity potential with 
      <br>
      <p2>TaskMaster AI</p2>
      <br> 
      <p1>Your personal assistant </p1>
      <br>
      <p1>for effortless task management.</p1>

   
    
</body>
<style> 
  

</style>  




</html>