<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
   <link rel="stylesheet" href="{{url_for('static',filename='css/style4.css')}}">
</head>
<body>
   <header>

   </header>
    
   <div class="firsttxt">
  
     <h1>TaskMasterAI</h1> 
     <a id="home" href="{{url_for('homepage')}}"">Home</a>
     <a id="features" href="#">Features
     </a>
     <a id="button" href="{{url_for('learnmore')}}">Learn More</a>
     <a id="myProfile" href="#">My Profile 
  
     </a> 
     <div id="welcome">
      <img src="static/css/cartoon.gif">
     </div>
   </div>

    <!-- <p> Welcome to TaskMasterAI</p> -->
    <p1>Unlock your productivity potential with Virtual Taskmaster AI, </p1>
      <br>
      <p1> an intuitive tool that revolutionizes task management.</p1>
      <br> 
      <p1>Seamlessly organize your work, boost efficiency,  </p1>
      <br>
      <p1>for effortless task management</p1>
      <br>
      <p1>and achieve your goals with ease.</p1>
      <h2> Welcome to TaskMasterAI</h2>

   
    
</body>
<style> 
  

</style>  




</html>